<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
    Name="Quboid"
    Manufacturer="Quboid contributors"
    Version="$(var.Version)"
    UpgradeCode="{87C56635-D3B0-4E65-9877-B97FF7BE60D5}"
    Scope="perUser">
    <MajorUpgrade DowngradeErrorMessage="A newer version of Quboid is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="INSTALLFOLDER" Name="Quboid" />
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder" />

    <Feature Id="MainFeature" Title="Quboid" Level="1">
      <ComponentRef Id="MainExecutable" />
    </Feature>

    <Component Id="MainExecutable" Directory="INSTALLFOLDER" Guid="*">
      <File Id="QuboidExe" Source="$(var.SourceDir)\quboid-app.exe" KeyPath="yes">
        <Shortcut
          Id="StartMenuShortcut"
          Directory="ProgramMenuFolder"
          Name="Quboid"
          WorkingDirectory="INSTALLFOLDER"
          Advertise="no" />
      </File>
      <RemoveFolder Id="RemoveInstallFolder" Directory="INSTALLFOLDER" On="uninstall" />
    </Component>
  </Package>
</Wix>
